<h1>Movies to Watch</h1>
<ul>
    {{#each movies}}
        <li>
            <p>{{this.id}}. {{this.movie}}</p>
        </li>
    {{/each}}
</ul>

<h2>Add a Movie to Watch</h2>
<form method="POST" action="/create">
    <textarea type="text" name="movie"></textarea>
    <button type="submit">Save Movie</button>
</form>